body {
    background: black;
   
}
a {
 color: white;
 text-decoration: none;
 font-size: 32px;
 white-space: nowrap;
}
ul{
    list-style: none;
}
img {
    width: 200px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}